.gradient-background {
    background: linear-gradient(300deg, #0596d2, #032a87, #03cbf0);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  

@media screen  and (max-width: 576px) {
    .logo-img {
        height: 80px;
        padding-left: 1rem;
    }

    .slogan {
      display: none;
    }
    
    h1 {
      letter-spacing: 0.25rem;
    }
    
    .hr1 {
      width: 50%;
      margin-left: 25%;
      border-top: 3px solid ;
    }

    .hr2 {
      display: none;
    }

    .card-img-top {
      height: 60px;
      width: 60px;
    }

    #features, #prep {
      background-color: #f0f8ff69;
      border-radius: 30px;
    }

    #dev-stack {
      color: #03CBF0;
    }
    .text {
      color:#03CBF0
    }
    .textw {
      color: white;
    }
    .meeting {
      border-radius: 40px;

    }
}

@media screen and (min-width: 577px) and (max-width: 768px) {
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 2rem;
  }
  
  .slogan {
    padding-left: 10px;
  }

  .logo-span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }
  
  h1 {
    letter-spacing: 0.25rem;
  }
  
  .hr1 {
    width: 50%;
    margin-left: 25%;
    border-top: 3px solid;
  }

  .hr2 {
    display: none;
  }
  
  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
  #features,
  #prep {
    background-color: #f0f8ff69;
    border-radius: 30px;
  }
  
  #dev-stack {
    color: #03CBF0;
  }
  
  .text {
    color: #03CBF0;
  }
  
  .textw {
    color: white;
  }
  .meeting {
    border-radius: 40px;
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .navbar {
    margin-top: 50px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 2rem;
  }
  
  .slogan {
    padding-left: 10px;
  }

  .logo-span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .navbar-collapse {
    margin-left: 10%;
  }
  
  h1 {
    letter-spacing: 0.25rem;
  }
  
  .hr1 {
    display: none;
  }
  
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
  #features,
  #prep {
    background-color: #f0f8ff69;
    border-radius: 30px;
  }
  
  #dev-stack {
    color: #03CBF0;
  }
  
  .text {
    color: #03CBF0;
  }
  
  .textw {
    color: white;
  }

  .meeting {
    border-radius: 40px;
    padding-bottom: 0px;
  }
  
}

@media screen and (min-width: 993px) and (max-width: 1200px) {
  .navbar {
    margin-top: 50px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 2rem;
  }
  
  .slogan {
    padding-left: 10px;
  }

  .logo-span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .navbar-collapse {
    margin-left: 15%;
  }
  
  h1 {
    letter-spacing: 0.25rem;
  }
  
  .hr1 {
    display: none;
  }
  
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
  #features,
  #prep {
    background-color: #f0f8ff69;
    border-radius: 30px;
    margin-top: 100px;
  }
  
  #dev-stack {
    color: #03CBF0;
  }
  
  .text {
    color: #03CBF0;
  }
  
  .textw {
    color: white;
  }

  .meeting {
    border-radius: 40px;
    margin-top: 50px;
    padding-bottom: 0px;
  }

  
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .navbar {
    margin-top: 50px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 2rem;
  }
  
  .slogan {
    padding-left: 10px;
  }

  .logo-span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .navbar-collapse {
    margin-left: 20%;
  }
  
  h1 {
    letter-spacing: 0.25rem;
  }
  
  .hr1 {
    display: none;
  }
  
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
  #features,
  #prep {
    background-color: #f0f8ff69;
    border-radius: 30px;
    margin-top: 100px;
  }
  
  #dev-stack {
    color: #03CBF0;
  }
  
  .text {
    color: #03CBF0;
  }
  
  .textw {
    color: white;
  }

  .meeting {
    border-radius: 40px;
    margin-top: 50px;
    padding-bottom: 0px;
  }

  
}

@media screen and (min-width: 1401px) {
  .navbar {
    margin-top: 50px;
  }
  .navbar-brand {
    display: flex;
    align-items: center;
  }
  
  .logo-img {
    height: 100px;
    padding-left: 2rem;
  }
  
  .slogan {
    padding-left: 10px;
  }

  .logo-span {
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
  }

  .navbar-collapse {
    margin-left: 26%;
  }
  
  h1 {
    letter-spacing: 0.25rem;
  }
  
  .hr1 {
    display: none;
  }
  
  .title {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
  }

  .card-img-top {
    height: 60px;
    width: 60px;
  }
  
  #features,
  #prep {
    background-color: #f0f8ff69;
    border-radius: 30px;
    margin-top: 100px;
  }
  
  #dev-stack {
    color: #03CBF0;
  }
  
  .text {
    color: #03CBF0;
  }
  
  .textw {
    color: white;
  }

  .meeting {
    border-radius: 40px;
    margin-top: 50px;
    padding-bottom: 0px;
  }

  
}
